table {
  width: 100%;
}

.container {
  max-width: 100%;
}

.spacing {
  padding: 0.5em;
  @media (min-width: 800px) {
    padding: 1em;
  }
}

.left-side {
  display: flex;
  justify-content: flex-end;
}
